.footer {
  background-color: black;
  min-height: 40vh;
}
.footer-box {
  padding: 0.5rem 2rem;
}
.list {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}
.list-item > a {
  text-decoration: none;
  color: white;
}
.list-item {
  text-transform: capitalize;
  font-size: 20px;
  width: fit-content;
  cursor: pointer;
  line-height: 30px;
  transition: all 0.3s ease-in-out;
}
.list-item:hover {
  border-bottom: 1px solid;
}
.reserve-rights {
  padding: 1.4rem;
  width: 100%;
  border-top: 1px solid white;
}
@media screen and (max-width: 475px) {
  .footer-box {
    align-items: center;
    justify-content: center;
  }
  .brand-logo > img {
    width: 120px;
  }
  .brand-logo{
    margin-bottom: 1rem;
  }
  .Features,
  .Explore,
  .brand-logo,
  .list-item {
    width: 100%;
    text-align: center;
  }
}
