.social {
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.social-box {
  padding: 3rem 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid red; */
}
.icon > svg {
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  /* border:1px solid red; */
  transition: all 0.3s ease-in;
}
.icon > svg:hover {
  transform: scale(1.04);
}
@media screen and (max-width: 475px) {
  .icon > svg {
    width: 2rem;
    height: 2rem;
  }
}
